/* URL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/* COMMONS */
body{
    padding: 36px;
    font-family: Montserrat;
    font-size: 16px;
}

h1{
    font-size: 22px;
}

a{
    text-decoration: none;
}

section, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

/* HEADER */
section.header img{
    max-width: 120px;
    border-radius: 50%;
}

/* LINKS */
section.links .link-items{
    width: 75%;
    margin-bottom: 16px;
}

section.links .link-items a{
    display: block;
    width: 100%;
    border: 1px #000 solid;
    padding: 16px 0;
    text-align: center;
    color: #000;
    border-radius: 25px;
    background-color: rgb(255, 195, 134);
    transition: transform .4s;
}

section.links .link-items a:hover{
    box-shadow: 3px 3px rgb(0, 0, 0);
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

/* FOOTER */
footer a{
    color: rgba(0, 0, 0, 0.5);
}